<div class="col mb-5">
	<div class="info_pic">
  	<%= image_tag 'info_2_1.png', alt: "Smashelloinfo", size: "100vw" %>
	</div>
	<div class="info_movie">
		<%= image_tag 'info_2_1-move_2.png', alt: "Smashelloinfo", size: "100vw" %>
	</div>
</div>