<<<<<<< HEAD
<div class="justify-content-start align-items-center">
  <div class="col">


    <%= image_tag 'index.info.png', alt: "Smashelloinfo", size: "700x500" %>
  </div>
=======
<div class="mb-5">
    <%= image_tag 'info_2_1.png', alt: "Smashelloinfo", size: "700x500" %>
>>>>>>> master
</div>