<div class="container d-flex justify-content-center">
  <div>
<<<<<<< HEAD


    <%= image_tag("Smashello_LOGO.png", alt: "Smashello", size: "200") %>
=======
    <%= image_tag("smashmello-logo-white(default).png", alt: "Smashello", size: "250") %>
>>>>>>> master
  </div>
</div>