<div class="modal fade" id="Carditem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content col pt-3 px-1 text-secondary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <i class="far fa-window-maximize fa-lg"></i>
            <h5 data-role="card-inner_title" class="d-inline-block mb-3 ml-1 font-weight-bold text-dark"></h5>
            <span data-role="card-focus-id" class="d-none"></span>
          </div>
        </div>

        <!-- Card assignee & tags -->
        <div class="row">
          <div class="col-9">
            <div class="card-detail">
              <div class="assignee-list">
                <div class="assignee"></div>
              </div>
              <div class="tag-list">
                <span id="tags" class="badge badge-info mr-2"></span>
              </div>
            </div>

            <div class="form-group my-2">
              <div class="description-title mb-1">
                <i class="fas fa-align-left"></i>
                <label class="ml-1 text-dark" for="card-description">Description</label>
              </div>
              <textarea class="form-control" id="card-description" data-role="card-description" type="text"
                placeholder="Add more detail..."></textarea>
            </div>



            <!-- Comment text -->
            <div class="form-group my-2">
              <div class="comment-title mt-5 mb-1">
                <i class="far fa-comment-alt"></i>
                <label class="ml-1 text-dark">Comment</label>
              </div>
              <textarea data-role="comment-input" class="form-control" placeholder="Write a comment..."></textarea>
              <button data-role="comment-send" type="submit" class="btn btn-sm btn-primary mt-1">Send</button>
            </div>
            <!-- Comment area -->
            <div data-role="comment-area">
              <!-- Comment list -->
              <div class="comment-container">
                <span class="sender">Sender</span>
                <div class="comment-line">
                  <p></p>
                </div>
              </div>

            </div>
          </div>





          <!-- Side Bar -->
          <div class="col-3">
            <span class="text-muted small">Add to card</span>

            <!-- Assign member -->
            <div class="dropdown mr-1">
              <label class="assign btn btn-light my-1" id="dLabel" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-friends fa-sm"></i>
                Member
              </label>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                <% @board.users.each do |member| %>
                <li class="dropdown-item">
                  <span data-memberId="<%= member.id %>"><%= member.email %></span>
                </li>
                <% end %>
              </ul>
            </div>

            <!-- Add tags -->
            <div class="dropdown mr-1">
              <label class="tag btn btn-light my-1" id="dLabel" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tags fa-sm"></i>
                Tag
              </label>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                <li class="dropdown-item">
                  <span></span>
                </li>
              </ul>
            </div>

            <!-- Add tag -->
            <!-- <div class="input-group input-group-sm mb-3">
              <input data-role="card-tags" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              <button data-role="tag-send" type="submit" class="btn btn-sm btn-primary mt-1">Send</button>
            </div> -->


            <!-- Due date -->
            <label class="due-date btn btn-light my-1" type="date">
              <i class="far fa-clock fa-sm"></i>
              Due date
            </label>
          </div>
        </div>
      </div>


      <div class="form-group d-flex justify-content-end">
        <button data-role="card-update" type="submit" class="btn btn-primary">儲存</button>
      </div>
    </div>
  </div>
</div>