<div class="modal fade" id="Carditem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content col mt-5 p-5 text-info">

      <h2 data-role="card-title" class="mb-4"></h2>
      <span data-role="card-focus-id" class="d-none"></span>

      <div class="form-group">
        <label for="card-description">description</label>
        <input data-role="card-description" type="text" class="form-control" id="card-description" placeholder="">
      </div>

      <div class="form-group">
        <label for="card-due-date">due_date</label>
        <input data-role="card-due-date" type="date" class="form-control" id="card-due-date">
      </div>

      <div class="form-group">
        <label for="card-archived">card-archived</label>
        <select data-role="card-archived" id="card-archived" class="form-control">
          <option selected>true</option>
          <option>false</option>
        </select>
      </div>

      <div class="form-group">
        <label for="card-tags">card-tags</label>
        <select data-role="card-tags" id="card-tags" class="form-control">
          <option selected>red</option>
          <option>blue</option>
        </select>
      </div>

      <div class="form-group d-flex justify-content-end">
        <button data-role="card-update" type="submit" class="btn btn-primary">儲存</button>
      </div>

      <!-- Comment Area -->
      <div class="form-group">
        <textarea data-role="comment-input" class="form-control" placeholder="Write a comment..."></textarea>
        <button data-role="comment-send" type="submit" class="btn btn-primary">Send</button>
      </div>
      
      <div data-role="comment-area"></div>
    </div>
  </div>
</div>