<div class="modal fade" id="starBoard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content col mt-5 p-5 text-info">
      <%= form_for board do |board| %>
        <div class="form-group">
          <%= board.label :visibility, "狀態" %>
          <%= board.select :visibility, options_for_select(['star']) %>
        </div>
        <div class="form-group d-flex justify-content-end">
          <%= board.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>