<div class="container">

  <div class="row">

    <div class="col">
    </div>

    <div class="col">

      <h1>編輯Board</h1>

      <%= render "form", board: @board %>

      <br />
      <%= link_to '回Board列表', boards_path, class: 'btn btn-light' %>

    </div>

    <div class="col">
    </div>

  </div>
</div>