<div class="container">
  <div class="row">

    <div class="col">
    </div>

    <div class="col border mt-5 p-5 text-info ">
      
      <h2 class="mb-4">新增Board</h2>
      <%= notice %>
      <%= render "form", board: @board %>
     
      <%= link_to '回Board列表', boards_path, class: 'btn btn-light' %>

    </div>

    <div class="col">
    </div>

  </div>
</div>