  <%= render "carditem" %>
  <% content_for :navbar do %>
    <%= render 'shared/navbar' %>
  <% end %>
  
  <% content_for :boardheader do %>
    <%= render 'shared/boardheader' %>
  <% end %>

<div class="list-container">

  <% @lists.each do |list| %>
  <div class="list-group item">
      <div class="list-wrapper">
        <div class='list-content box'>
          <div class="list-item">
            <span data-role="list-title" class="list-view"><%= list.title %></span>
            <span class="list-men"><i class="fas fa-align-justify"></i></span>
          </div>

          <div class="card-wrapper">
            <div class="card-group">
              <div class="cart-item"><a href="">123</a></div>
            </div>
  
            <div class="card-create input">
              <textarea name="card-text" id=""></textarea>
            </div>
  
            <div class="card-create btn">
                <a class="card-add" href="/lists/cards"><span><i class="fas fa-plus"></i>新增卡片</span></a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <% end %>

  <div data-role="input-local" class="list-group item">
    <div class="list-wrapper">
      <div class="list-content btn">
        <a class="list-add" href=""><span><i class="fas fa-plus"></i>新增列表</span></a>
      <form data-role="list-create">
        <input data-role="api-list-title" class="api-inp" type="text" placeholder= "請輸入標題" maxlength= "100">
        <input data-role="btn list-create" class="api-btn" type="submit" value="送出">
        <a class="list-add" href=""><span><i class="fas fa-times"></i></span></a>
      </form>
    </div>
    </div>
  </div>

</div>






