@import "reset.scss"; 
@import "list_type.scss"; 
@import "devise.scss";
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free";
@import "base.scss";
.lists {
    .btn{
        width: 300px;
        margin: 15px;
    }
}
.board-notice {
    margin: 10px 5px 20px;
    font-size: 20px;
    color: #64A7BD;
}
.board-title {
    color: #162B4D;
    line-height: 24px;
    margin: 5px 0 0;
    font-size: 16px;
    font-weight: bold;
}
p span {
    margin: 5px;
}
.personal-boards, .team-boards, .starred-boards {
    display: inline-block;
    flex-flow: column wrap;
}
.all-boards-container {
    display: block;
    flex-flow: column wrap; 
    margin-left: 100px;
}
.card-title {
    color: white;
    font-weight: bold;
}
.card-body-starred {
    display: block;
    margin: 5px;
    border-radius: 5px;
    padding: 15px;
    width: 180px;
    height: 100px;
    background-color: #5ACBA3;
}
.card-body-personal {
    display: block;
    margin: 6px;
    border-radius: 5px;
    padding: 15px;
    width: 180px;
    height: 100px;
    background-color: #296F8E;
}
.card-body-public {
    display: block;
    margin: 6px;
    border-radius: 5px;
    padding: 15px;
    width: 180px;
    height: 100px;
    background-color: #3A8E95;
}
.create-board {
    color: #296F8E;
    position: sticky;
    top: 0px;
    margin-top: 40px;
    border-radius: 5px;
}
.board-create {
    color: #162B4D;
    display: inline;
    margin: 5px;
}
h2 {
    color: #296F8E;
    margin-left: 10px;
}
.col-10 {
    margin-top: 40px;
}
.col-2 {
    position: relative;
}
body {
    background-color: rgb(179, 179, 179);
}
.board-body {
    background-color: #FAFBFC;
}
.toast {
    width: 220px;
}
.toast-header {
    font-size: 14px;
    color: #296F8E;
    display: block;
}
.welcome-message {
    display: inline;
    margin: 6px;
}
.invited-time {
    font-size: 12px;
    text-align: right;
}
.invitation-message {
    font-size: 14px;
}
.answer {
   text-align: right;
   font-size: 12px;
}
.starred-board {
    margin-top: 5px;
}
.navbarcolor{
    background: linear-gradient(0deg, rgba(16, 40, 127, 0.6)8%, rgba(68, 106, 71, 0.6)100%);
    background: -moz-linear-gradient(0deg, rgba(16, 40, 127, 0.6)8%, rgba(68, 106, 71, 0.6)100%);
    background: -webkit-linear-gradient(0deg, rgba(16, 40, 127, 0.6)8%, rgba(68, 106, 71, 0.6)100%);
    background: -o-linear-gradient(0deg, rgba(16, 40, 127, 0.6)8%, rgba(68, 106, 71, 0.6)100%);
}
.ui-state-highlight{
    margin: 10px 10px 0px 10px;
    width: 270px;
    height: 45px; 
    color: red;
}
.sortable-placeholder{
    width: 330px;
}
// Card modal
.modal-dialog{
    max-width: 600px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    .modal-content{
        border-radius: 0.2rem;
    }
}
// Card item
.assignee-header{
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.assignee{
    border: #51e898;
    border-radius: 0.15rem;
    background-color: #51e898;
    color: #fff;
    font-weight: 500;
    padding: 0.15rem;
    margin-right: 0.5rem;
}
.desc-header, .comment-header{
    color:#172b4d;
    font-weight: 600;
}
.add-to{
    font-size: 12px;
    font-weight: 500;
}
.assign, .tag, .due-date{
    width: 120px;
    text-align: left;
    border-radius: 0.15rem;
    color: #6c757d;
}
.comment-container{
    margin: 0.25rem 0;
    .author{
        color: #172b4d;
        font-weight: 700;
    }
    .comment-time{
    font-size: 8px;
    }
}
.tag-header{
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    padding-left: 14px;
}
.tag-list{
    width: 220px;
    padding-bottom: 2px;
    .tag-item{
        margin-bottom: 5px;
        padding-left: 5px;
        #add-tag{
            margin-bottom: 12px;
        }
    }
}
.yellow-tag, .blue-tag, .green-tag{
    display: inline-block;
    height: 25px;
    width: 150px;
    border-radius: 0.15rem;
    margin: auto;
    color: #fff;
    font-weight: 600;
    overflow: hidden;
}
.yellow-tag{
    background-color:#f2d600;
}
.blue-tag{
    background-color:#61bd4f;
}
.green-tag{
    background-color:#0079bf;
}
.fa-plus-square{
    color:#42526e;
}