body{
  font-family: Microsoft JhengHei, PingFang, Arial;
}
.boardbg{
  background-color: #FAFBFC;
  background-size:cover;
}
// user
.uer_btn{
  background-color:rgba(36, 138, 154, 0.8);
  border-color:opacify($color: rgba(36, 138, 154, 0.8), $amount: .5);
  color: white;
}
// Navbar
.my_navbarset{
  background-color:rgba(129, 235, 185, 0.8);  
}
.navbar_btn_bgc{
  background-color:rgba(129, 235, 185, 0.8);
  border-color:opacify($color: rgba(129, 235, 185, 0.8), $amount: .5);
}
.navbar_logo_place{
  display: block;
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
}
.clickhand{
  cursor: pointer;
}
.user_dropdown_menu_size{
  width: 22rem;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .dropdown_menu_size {
    width: 300px;  
  }
}
.dropdown_menu_add{
  text-align: center;
}
.scrollable_menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}