.rootbg{
  background: linear-gradient(87deg, rgba(100, 167, 189, 1)36%, rgba(129, 235, 185, 0.8)90%);
  background: -moz-linear-gradient(87deg, rgba(100, 167, 189, 1)36%, rgba(129, 235, 185, 0.8)90%);
  background: -webkit-linear-gradient(87deg, rgba(100, 167, 189, 1)36%, rgba(129, 235, 185, 0.8)90%);
  background: -o-linear-gradient(87deg, rgba(100, 167, 189, 1)36%, rgba(129, 235, 185, 0.8)90%);
}
.my_btn{
  width: 100%;
  max-width: 380px;
}
.info_pic img {
  width: 100%;
  max-width: 700px;
}
.errorcolor{
  color: red;
}