html,body{
  height: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .navbarDiv{
    height: auto;
  }
  .parentDiv{
    width: 100%;
    position: relative;
    flex-grow: 1;
  }
}

.list-container {
  position: absolute;
  display: flex;
  top:0;
  bottom: 0;
  overflow-x:  scroll;
  width: 100%;
    .list-group.item {
      flex-grow: 1;
      .list-content{
        width: 300px;
        height: auto;
    }
  }
}
//
.list-content.btn{
  width: 100%;
  border-radius: 5px;
  margin: 3px;
  padding: 0 5px;
  text-align:left;
  background-color: hsla(0, 0%, 100%, 0.24);
    form{
      input{
        width: 100%;
      }
    }
}
.list-content.box{
  width: 100%;
  border-radius: 5px;
  margin: 3px 10px;
  padding: 0 5px;
  background-color: hsla(0, 0%, 100%, 0.74);
}