html,body{
  height: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .navbarDiv{
    height: auto;
  }
  .parentDiv{
    width: 100%;
    position: relative;
    flex-grow: 1;
  }
}

.list-container {
  position: absolute;
  top:0;
  bottom: 0;
  overflow-x:  scroll;
  width: 100%;
  display: flex;
  .list-sortable{
    display: flex;
    .list-group.item {
      padding: 15px 5px 0px 5px;
      .list-content{
        width: 300px;
        height: auto;
      }
    }
  }
}

//list-create
.list-content.btn{
  width: 300px;
  border-radius: 5px;
  margin: 3px;
  text-align:left;
  background-color: hsla(0, 0%, 81%, 0.44);
  margin-top: 18px;
  .list-add-top{
   color: rgb(251, 251, 251);
  }
  .list-add-form{
    display: none;
    width: 100%;
    form{
      input.form-inp{
        display: inline-block;
        box-sizing: border-box;
        border-color: rgb(120, 120, 202);
        padding-left: 10px;
        border-radius: 5px;
        width: 100%;
        height: 35px;
        margin-bottom: 5px;
      }
      .list-btn.type{
        display: flex;
        .list-btn.btn{
          border-radius: 5px;
          width: 75px;
          margin-right: 5px;
        }
        span{
          margin-left: 5px;
          margin-top: auto;
          margin-bottom: auto;
          .list-cle{
            font-size: 30px;
          }
        }
      }
    }
  }
}
//list-group
.list-content.box{
  width: 100%;
  border-radius: 5px;
  margin: 3px 10px;
  padding: 5px 5px;
  background-color: hsla(164, 39%, 66%, 0.197);
  .list-item{
    span.list-view{
      width: 90%;
      display: inline-block;
      padding-left: 0.5em;
    }
    span.list-men{
      width: 20px;
      display: inline-block;
    }
  }

  .card-wrapper{
    .card-group{
      width: 100%;
      height: auto;
    .sortable-hidden{
      display: inline-block; 
      height: 5px;
      width: 100%;
    }
      .cart-item{
        height: 45px;
        width: 278px;
        padding: 10px 10px 0px 15px;
        margin: 10px 6px 0px 6px;
        border-radius: 5px;
        background-color: hsla(0, 0%, 100%, 0.94);
        box-shadow: 0px 4px 3px #ccc;
        span{
          display: block;
        }
      }
    }
    //card_create
    .card-input-controller{
      display: none;
      .card-create.input{
        width: 100%;
        padding:10px 6px 3px 6px;
        textarea{
          display: block;
          background-color: hsla(0, 0%, 100%, 0.94);
          border-radius: 5px;
          border-style: none;
          box-shadow: 0px 1px 3px #ccc;
          width:100%;
          overflow-wrap: break-word;
          resize : none;
        }
      }
      .card-create.btn{
        display: flex;
        text-align: left;
        width: 100%;
        .card-add.btn{
          margin-left: -8px;
        }
        .card-add-bot{
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 10px;
          font-size: 25px;
          color: rgb(112, 112, 112);
        }
      }
    }
//card_drop
    .card-create-drop{
      display: flex;
      margin-top: 10px;
      .card-create-span{
        display: block;
        width: 100%;
        height: 30px;
        font-size: 16px;
        padding-top: 2px;
        margin-left: 7px;
        border-radius: 5px;
        color: rgb(184, 51, 51);
      }
    }
  }
}