<div class="container mx-auto">

  <h1 class="text-4xl">Card</h1>

  <%= link_to 'Add card', '#' %>
  <hr>

  <div class="card" style="width: 18rem;">
    <% @cards.each do |card| %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= link_to card.title, card_path(card) %></li>
    </ul>
    <% end %>
  </div>





